<h1>Memory Game</h1>

<div class="row">
  <div class="col">
    <p>Game: <%= @game %></p>
    <script>
      window.gameName = "<%= @game %>";
    </script>
  </div>
</div>

<div id="game">
  Loading...
</div>



